@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* Colors */

    --white: hsl(0, 0%, 98%);
    --gray: hsl(0, 0%, 41%);
    --black: hsl(0, 0%, 8%);

    /* Font */

    --font-body: "Epilogue", sans-serif;
    --font-size: 1.125rem;

    /* weight */

    --fw-bold: 500;
    --fw-extrabold: 700;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    font: inherit;
    padding: 0;
    margin: 0;
}

img {
    display: block;
}

body {
    background-color: var(--white);
    font-family: var(--font-body);
    font-size: var(--font-size);
}

/* Utility classes for flex */
.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-end {
    justify-content: end;
}

.items-center {
    align-items: center;
}

.items-start {
    align-items: start;
}
/* End */

.header {
    padding: clamp(1.5rem, 1.3571rem + 0.7143vw, 2rem) 
             clamp(1rem, 0.5714rem + 2.1429vw, 2.5rem);
}

.nav, .nav__item, .menu, .cta, .main__content button {
    transition: all 300ms ease;
}

.nav {
    background-color: var(--white);
    position: fixed;
    right: -100%;
    top: 0;
    height: 100dvh;
    width: 300px;
    z-index: 1;
    padding: clamp(1.5rem, 1.3571rem + 0.7143vw, 2rem);
    gap: 2.5rem;
}

.nav.show {
    right: 0;
}

.nav__items {
    list-style: none;   
    gap: 1.5rem;
}

.nav__item {
    font-weight: var(--fw-bold);
    color: var(--gray);
    cursor: pointer;
    gap: 1rem;
}

.nav__item:hover {
    color: var(--black);
}

.nav__item--button {
    background-color: transparent;
    border: 0;
}

.nav__item--link {
    text-decoration: none;
}

.menu {
    overflow: hidden;
    max-height: 0;
}

.menu__items {
    padding: 1.5rem 1.25rem 0; 
    gap: 1.5rem;
}

.dropdown:hover .arrow {
    rotate: 180deg;
}

.dropdown:hover > .menu {
    max-height: 200px;
}

.sign-in-up > li > button {
    width: 100%;
}

.cta {
    border: 2px solid var(--gray);
    padding: 0.875rem 1.5rem;
    border-radius: 1rem;
}

.cta:hover {
    border-color: var(--black);
}

.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    inset: 0;
    display: none;
}

.nav.show ~ .overlay {
    display: block;
}

.main__left-section img {
    width: 100%;
}

.break-line {
    display: none;
}

.main__content {
    display: grid;
    justify-items: center;
    gap: 2rem;
    text-align: center;
    padding-block: 3rem;
}

.main__content h1 {
    font-weight: var(--fw-extrabold);
    color: var(--black);
    font-size: 2.375rem;
}

.main__content p {
    font-weight: var(--fw-bold);
    color: var(--gray);
    line-height: 1.5;
}

.main__content button {
    background-color: var(--black);
    border: 2px solid var(--black);
    border-radius: 1rem;
    padding: 1rem 1.5rem;
    cursor: pointer;
    color: var(--white);
    font-weight: var(--fw-bold);
}

.main__content button:hover {
    background-color: transparent;
    color: var(--black);
}

.main__clients img {
    height: 1.25rem;
    @media (min-width: 768px) {
        height: auto;
    }           
}

@media (min-width: 1024px) {
    #open-sidebar, #close-sidebar {
        display: none;
    }
    
    .header {
        justify-content: unset;
        gap: 3rem;
        align-items: center;
    }
    
    .nav {
        background-color: transparent;
        position: unset;
        height: unset;
        width: unset;
        padding: unset;
        flex-direction: row;
        gap: unset;
        justify-content: space-between;
        width: 100%;    
    }

    .nav__items {
        flex-direction: row;
        align-items: center;
        gap: 2.5rem;
    }

    .dropdown {
        position: relative;
    }
    
    .menu {
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        background-color: #fff;
        position: absolute;
        top: 150%;
        border-radius: 0.5rem;
        width: max-content;        
    }

    .menu__items {
        padding-bottom: 1.5rem;
        flex-direction: column;
        align-items: start;
        gap: 1rem;
    }

    #features {
        left: -55%;
    }

    .main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
    
    .main__left-section img {
        width: 480px;    
    }

    .main__right-section {
        display: grid;
        place-items: center;
        order: -1;
        position: relative;
    }

    .break-line {
        display: inline;    
    }

    .main__content {
        justify-items: start;
        text-align: start;
        gap: 3.5rem;
        padding-block: unset;    
    }

    .main__content h1 {
        font-size: 4.625rem;    
    }

    .main__clients {
        position: absolute;
        bottom: 0;
        width: 100%;
    }    
}