@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* Colors */

    --white: hsl(0, 0%, 98%);
    --gray: hsl(0, 0%, 41%);
    --black: hsl(0, 0%, 8%);

    /* Font */

    --font-body: "Epilogue", sans-serif;
    --font-size-base: 1.125rem;

    /* weight */

    --fw-bold: 500;
    --fw-extrabold: 700;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    font: inherit;
    padding: 0;
    margin: 0;
}

img {
    display: block;
}

/* Utility class */
.flex-center {
    display: flex;
    align-items: center;
}

body {
    background-color: var(--white);
    font-family: var(--font-body);
    font-size: var(--font-size-base);
}

.header {
    gap: 3rem;
    padding: 1.5rem 2rem;
}

.nav {
    /* justify-content: space-between; */
    width: 100%;
    gap: 2.5rem;
}

#open-menu, #close-menu {
    display: none;
}

.ml-auto {
    margin-left: auto;
}

.nav__item {
    font-weight: var(--fw-bold);
    color: var(--gray);
    cursor: pointer;
}

.nav__item:hover {
    color: var(--black);
}

.dropdown {
    position: relative;
}

.nav__item--dropdown {
    background-color: transparent;
    border: 0;
    gap: 1rem;
}

.nav__item--button {
    background-color: transparent;
    border: 0;
}

.nav__item--button.cta {
    border: 2px solid var(--gray);
    padding: 0.875rem 1.5rem;
    border-radius: 1rem;
}

.nav__item--link {
    text-decoration: none;
}

.options {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: #fff;
    position: absolute;
    top: 150%;
    border-radius: 0.5rem;
    width: max-content;
    
    overflow: hidden;
    max-height: 0;

    transition: max-height 300ms ease;
}

.options__container {
    padding: 1.5rem 1.25rem; 
    display: grid;
    gap: 1rem;
}

.option {
    gap: 1rem;
}

#features {
    left: -55%;
}

.nav__item--dropdown.show + .options {
    max-height: 194px;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    inset: 0;
    z-index: -1;
    display: none;
}

@media (max-width: 1000px) {
    #open-menu, #close-menu, .overlay {
        display: block;
    }

    .header {
        justify-content: space-between;
    }
     
    .nav {
        background-color: var(--white);
        position: fixed;
        right: 0;
        top: 0;
        flex-direction: column;
        width: 300px;
        height: 100dvh;
        padding: 1.5rem;
        align-items: start;
        gap: 1.5rem;
    }

    .ml-auto {
        margin: 0 auto;
    }

    .cta {
        width: 100%;
    }

    #close-menu {
        align-self: end;
    }

    .options {
        background-color: var(--white);
        box-shadow: none;
        position: unset;
        top: unset;
        border-radius: unset;
        width: 100%;
    }

    .options__container {
        gap: 1.5rem;
    }    
}
